@import "bulma";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  // TravelLocal brand colours
  --brand-teal: #007C80;
  --brand-navy: #13294B;
  --brand-elephant: #475D76;
  --brand-sand: #EEDBCC;
  --brand-stone: #F4F0ED;
  --brand-white: #ffffff;
  --brand-yellow: #f1a931;
  --brand-orange: #f8935a;
  --brand-red: #d15c5c;
}

a {
  color: inherit;
  text-decoration: underline var(--brand-navy);

  &:hover, &:focus {
    color: var(--brand-navy);
  }
}


